.App {
  background-image: url("./portfolioBackgroundImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Roboto condensed;
}

a:-webkit-any-link {
  text-decoration: none;
  color:#aaa;
}

.App-header {
  display: flex;
  align-items: center;
  background-color:#282c34;
  font-size: 4vh;
  height: 10vh;
  justify-content: space-between;
  padding-right: 4vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #aaa;
}

.headerTitle{
  list-style: none;
  color: #aaa;
  font-weight: 800;
  margin-left: 2vw;
  text-decoration: none;
}
.headerSubtitle{
  color: #aaa;
  font-size: 2.78vh;
}
/* NAVIGATION */

nav {
  margin: 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #fff;
}


/* stroke */
ul{
  padding-inline-start:0px;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* projects section */
.projects{
  height: 90vh;
  overflow-y: scroll;
}

.projectsTitle{
font-size: 45px;
letter-spacing: 0.055em;
color: #fff;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leftProjectContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0vh 0vw 10vh 5vw;
}

.rightProjectContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0vh 11.5vw 10vh 0vw;
}

.leftButtonscontainer{
display: flex;
flex-direction: column;
margin: 0vh 0vw 0vh 2vw;
}

.rightButtonscontainer{
  display: flex;
  flex-direction: column;
  margin: 0vh 2vw 0vh 0vw;
  }

.demoBtn{
  width: 242px;
  height: 72px;
  background-color: #C28FEF;
  font-size: 30px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  cursor: pointer;
  border-radius: 10px;
}

.demoBtn:hover{
  background-color: #D5B2F3;
}

.githubBtn{
  width: 242px;
  height: 72px;
  background-color: #212528;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.githubBtn:hover {
  background-color: #464C51;
}

.githubLogo{
  margin-right: 0.5vw;
}

@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

.headerTitle{
  font-size: 2.5vh;
  width: 29%;
  }
  .App-header{
  font-size: 2vh;
  padding-right: 0px;
}  
.headerSubtitle{
  font-size: 1.7vh;
}

nav ul li a {
  display: block;
  padding: 10px 0px 10px 0px;
}

nav.stroke ul li a:after, nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 2px;
}

.projectsTitle {
  font-size: 5vh;
}

.projectImg{
  width: 75%;
}

.demoBtn {
  width: 20vw;
  height: 5vh;
  margin-bottom: 1.5vh;
  font-size: 2vh;
}

.githubBtn{
  width: 20vw;
  height: 5vh;
  font-size: 2vh;
}
.githubLogo{
  width: 5vw;
  margin-right: 1vw;
}

.rightProjectContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0vh 2vw 10vh 0vw;
}

}